@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <style>

        body {
            background-image: url("/images/Villa.jpg");
            object-position: 50% 75%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .Front {
            background-color: rgba(255, 255, 255, 0.9);
            padding: 20px;
            border-radius: 10px;
            margin-top: 180px;
            margin-bottom: 300px; 
            width: 50%;
            font-size: 20px;
           
        }
         
    </style>
</head>
<body>

    <div class="container text-center Front">
        <h1 class="display-4">Ourbnb</h1>
        <p>Stay all around the world, and explore amazing places with us.</p>
    </div>

</body>
</html>
