<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        body {
            background-image: url("/images/Villa.jpg");
            object-position: 50% 75%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .container {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px; 
            margin-top: 50px; 
            width: 45%;
        }
    </style>
</head>
<body>

    <div class="container text-center">
        <h1 class="display-4">Ourbnb</h1>
        <p>Stay all around the world, and explore amazing places with us.</p>
    </div>

</body>
</html>
